= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true"
= javascript_include_tag "http://code.jquery.com/ui/1.11.2/jquery-ui.js"


.container-fluid
  .col-md-3
    %h3 At a Glance
    .well
      %h4#title Select a Landmark for more info
      #description
      %br
        %button.btn.btn-primary.hidden.add-to-tour Add To My Tour
  .col-md-6
    %h3 All Landmarks
    #map
    %h3 My Tour
    #user_map
  .col-md-3
    %h3 My Tour
    .well
      %button.btn.btn-primary.btn-sm
        %i.glyphicon.glyphicon-print
        Print My Tour
      %button.btn.btn-primary.btn-sm
        %i.glyphicon.glyphicon-phone
        Send to Phone
    .well
      %ul#tour-list.list-group
:javascript
  $(window).load(function() {
    OWT.Tour.init();
  });

:css
  #map, #user_map { height: 240px; width: 100% }
